@import url('https://fonts.cdnfonts.com/css/futura-pt');

body {
    background-color: #bbb;
    color: #222;
    font-family: 'Futura PT';
}

label {
    display: block;
}

input {
    background-color: #aaa;
    border: 0;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 5px;
    
    &:focus {
        outline: 1px solid brown;
    }

    &[type=submit] {
        padding: 10px;
    }
}

button {
    display: block;
    width: 100%;
    margin: 0;
    padding: 5px;
    border: 0;
    background-color: #aaa;

    &:hover {
        background-color: #999;
    }
}

div:has(>button) {
    display: flex;
    flex-direction: column;
    width: 167px;
    border-radius: 5px;
    overflow: hidden;
}

.error {
    background-color: rgba(255,0,0,.3);
    outline: 1px solid rgba(255,0,0,.6);
}

.error-label {
    margin-left: 20px;
    color: red;
}

.error-msg {
    color: red;
    margin-bottom: 10px;
    display: block;
}