{% extends "base.html" %}

{% block page_content %}
    <div class="container mt-4">
        <h2>Dodaj książkę</h2>

        <form method="POST">
            {{ form.hidden_tag() }}

            <div class="form-group">
                {{ form.title.label(class="form-label") }}
                {{ form.title(class="form-control") }}
            </div>

            <div class="form-group">
                {{ form.author.label(class="form-label") }}
                {{ form.author(class="form-control") }}
            </div>
            
            <div class="form-group">
                {{ form.genre.label(class="form-label") }}
                {{ form.genre(class="form-control") }}
            </div>

            <div class="form-group">
                {{ form.published_year.label(class="form-label") }}
                {{ form.published_year(class="form-control") }}
            </div>
            

            <div class="form-group">
                {{ form.description.label(class="form-label") }}
                {{ form.description(class="form-control") }}
            </div>

            <div class="form-group">
                {{ form.cover_art.label(class="form-label") }}
                {{ form.cover_art(class="form-control") }}
            </div>

            <button type="submit" class="btn btn-primary">Dodaj</button>
            <a href="{{ url_for('index') }}" class="btn btn-secondary">Anuluj</a>
        </form>
    </div>
{% endblock %}