{% extends 'bootstrap/base.html' %}

{% block scripts %}
    {{ super() }}
{% endblock %}

{% block title %} {{ title }} {% endblock %}

{% block content %}
    <div class="container mt-4">
        <h2 class="mb-3">Lista uczniów:</h2>

        {% if students %}
            <table class="table table-striped mb-3">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">First name</th>
                        <th scope="col">Last name</th>
                        <th scope="col">Class name</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>

                <tbody>
                    {% for student in students %}
                        <tr>
                            <th scope="row"> {{ student.id }} </th>
                            <td> {{ student.first_name }} </td>
                            <td> {{ student.last_name }} </td>
                            <td> {{ student.class_name }} </td>
                            <td><a href="/delete/{{ student.id }}" class="btn btn-danger">Usuń</a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <h3 class="mb-3">Brak uczniów</h3>
        {% endif %}

        <a href="{{ url_for('add') }}">Dodaj ucznia</a>
    </div>
{% endblock %}