body {
    counter-reset: counter-round;
}

.counter-round {
    counter-increment: counter-round;
    
    &::after {
        content: counter(counter-round);
    }
}

.bracket {
    display: flex;
    flex-direction: row;
}

.match-container {
    display: flex;
    flex-direction: row;
}

.match {
    display: flex;
    flex-direction: column;
}